
.gen-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 

    &--column {
        flex-direction: column; 
    }

    &__left, 
    &__right {
        width: 50%; 
    }

    &__wrapper {
        width: 75%; 

        &--left {
            margin-left: auto; 
        }
    }

    &__left {
        padding-right: 1.5rem; 
    }

    &__info {
        width: 90%; 
        margin-top: 2rem; 
    }

    &__links {
        margin: 4rem 0 2rem; 

        small {
            margin: 0 2rem; 
            color: lighten($color: $mainTextColor, $amount: 50%); 
        }
    }

    &__image {
        width: 100%; 

        &--big {
            width: 130%; 
        }

        &--left {
            transform: translateX(-20rem); 
        }

        &--right {
            transform: translateX(20rem); 
        }
    }

    &__after-img {
        width: 60%; 
        margin: 3rem 0 0 3rem; 
    }

}