.heading {


    &__primary {
        font-size: 5rem; 
        font-weight: 600; 
        line-height: 7rem; 
    }

    &__secondary {
        font-size: 4rem; 
        font-weight: 600; 
        line-height: 6rem; 
    }

    &__tertiary {
        font-size: 2.2rem; 
        line-height: 3rem; 
        letter-spacing: .5px; 

        &--light {
            font-weight: 300; 
        }

        &--bold {
            font-weight: 600; 
        }
    }

    &__quat {
        font-size: 1.8rem; 
        font-weight: 600; 
        line-height: 2.5rem; 
    }
}